body {
  margin: 0;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1edec;
  color: #41342e;
}

h1 {
  font-size: 1.5em;
  color: #cd5f3a;
}

h2 {
  font-size: 1.25em;
  margin: 0 0 0.25em;
  color: #cd5f3a;
}

p {
  line-height: 22px;
  margin: 0 0 1.5em;
}

a {
  color: #682f1c;
  font-weight: 600;
}
a:hover {
  color: #cd5f3a;
}

#container {
  margin: 0 auto 5em;
  width: 600px;
}

nav {
  min-height: 51px;
  position: relative;
}

nav a {
  text-decoration: none;
  font-weight: 400;
}

nav ul {
  background: #41342e;
  list-style: none;
  margin: 0;
  padding-left: 0;
  min-height: 53px;
}

nav li {
  color: #fff;
  background: #41342e;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

nav li a,
nav li a:hover {
  color: #fff;
}

nav li:hover,
nav li:focus-within {
  background: #cd5f3a;
  cursor: pointer;
}

nav li:focus-within a {
  outline: none;
}

nav ul li ul {
  background: #41342e;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
  clear: both;
  width: 100%;
}

.float-left {
  float: left;
  padding: 0 24px 24px 0;
}

.highlight {
  border-color: #cd5f3a;
  background-color: white;
  margin: 0 0 24px 24px;
  padding: 20px 24px;
  float: right;
  width: 324px;
}
.highlight p {
  margin: 0;
}

@media (max-width: 632px) {
  #container {
    width: auto;
  }

  nav {
    display: none;
  }

  #logo img {
    width: 100%;
    height: auto;
  }

  section {
    padding: 0 1em 1em;
  }

  .float-left {
    float: none;
    text-align: center;
    padding: 0 0 24px;
    margin: 0 auto;
    display: block;
  }

  .highlight {
    float: none;
    width: auto;
    margin: 0 0 24px;
    padding: 6px 10px 12px;
  }
}
